@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    --background: #1b1a20;

    --pastel-red: #f1364f;
    --pastel-red-dark: #59022f;
    --pastel-red-light: #ff6a7d;

    --text-color: white;
    --text-color-subtle: rgb(177, 177, 177);
    --accent: var(--pastel-red);
    --accent-background: var(--pastel-red-dark);
    --accent-light: var(--pastel-red-light);    

    box-sizing: border-box;
    background: var(--background);
    color: var(--text-color);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: small;
    font-weight: 400;
    
    padding-bottom: 4em;
}

b {
    font-weight: 900;
}

a {
    color: var(--accent-light);
    font-weight: 900;
}

hr {
    border: white 2px dotted;
    height: 2px;
    margin: 0;
    margin-bottom: 2em;
    margin-top: 2em;
}

button {
    background-color: var(--accent);
    color: var(--text-color);
    border: none;

    margin: 6px;
    padding: 6px;
    font-size: 1em;
    font-weight: bolder;

    box-shadow: var(--accent-background) 6px 6px;

    cursor: pointer;

    &:active {
        translate: 6px 6px;
        background-color: var(--accent-background);
        box-shadow: none;
    }

    &:hover {
        outline: 2px solid white;
    }

    font-family: "JetBrains Mono", monospace;
    font-size: small;
    font-weight: 400;
}

.text-nomargin {
    p, pre, h1, h2, h3, h4 {
        margin: 0px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 60rem;

    background: var(--accent);
    margin: auto;
    padding: 4px;

    position: fixed;
    top: 12px;

    font-weight: bolder;

    outline-width: 2px;
    outline-offset: 4px;
    outline-color: var(--accent);
    outline-style: solid;

    a {
        color: white;
        font-weight: 900;
        font-size: large;
    }
}

.content-layout {
    margin: auto;
    margin-top: 128px;

    width: 60%;
    max-width: 60rem;
    min-width: 45rem;
}

.cursor-blink {
    &::after {
        content: " ";
        animation: 1.5s linear infinite cursor-blink;
    }
}

@keyframes cursor-blink {
    0% {
        content: " ";
    }

    100% {
        content: "_";
    }
}

.article-card {
    border: solid 1px var(--accent);
    padding: 12px;
    margin: 1rem;

    box-shadow: var(--accent-background) 16px 16px;

    strong, b, h4 {
        color: var(--accent-light);
        font-weight: 900;
    }

    li {
        margin-top: 1em;
    }
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

@keyframes crtBlur {
    0% {
        filter: 
            blur(0.35px)
            contrast(100%);
    }

    50% {
        filter: 
            blur(0.35px)
            contrast(105%);
    }

    75% {
        filter: 
            blur(0.35px)
            contrast(100%);
    }

    100% {
        filter: 
            blur(0.35px)
    }
}

.crt {
    position: fixed;
    pointer-events: none;
    margin: 0px;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    --ctr-bleed-color: color-mix(in srgb, var(--accent-background) 20%, rgba(0, 0, 0, 0));
    background-image: radial-gradient(transparent, 70%,  var(--ctr-bleed-color));

}

body:has(> .crt) > *:not(.crt) {
  animation: crtBlur 1s infinite;
}

@media (max-width: 1000px) {
    .content-layout { 
        min-width: 90%;
    }

    body {
        font-size: larger;
    }

    button {
        font-size: x-large;
    }
}